
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&family=The+Nautigal&display=swap');


.enterMyFirstName{
	margin:2rem;
	text-align:centre;
	}
	
	.title {
		background-color: #FFE162;
		color: black;
		padding:40px;
		font-family: sans-serif;
		text-align: center;
	}
	
	.PracticeAboutLogin {
	list-style-type: none;
	margin: 2rem;
	padding: 0;
	}

	.create button {
		background-color: #FF6464;
		color: black;
		border:0;
		padding: 8px;
		border-radius: 8px;
		cursor: pointer;
	}