.enterMyFirstName{
	margin:2rem;
	text-align:centre;
	}
	
	.title {
		background-color: #FFE162;
		color: black;
		padding:40px;
		font-family: sans-serif;
		text-align: center;
	}
	
	.PracticeAboutLogin {
	list-style-type: none;
	margin: 2rem;
	padding: 0;
	}