/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&family=The+Nautigal&display=swap'); */

.navbar {
padding: 20px;
display:flex;
align-items: center;
max-width:600px;
margin:0 auto;
border-bottom:1px solid white;

}

.navbar h1 {
color:blue;
}

.navbar .links {
margin-left: auto;

}