/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&family=The+Nautigal&display=swap'); */

.navbar {
padding: 20px;
display:flex;
align-items: center;
max-width:600px;
margin:0 auto;
border-bottom:1px solid white;

}

.navbar h1 {
color:blue;
}

.navbar .links-1 {
color: blue;
background-color: #FFE162;
border-radius: 8px;
margin-left: auto;

}

.navbar .links-2 {
	color: blue;
	background-color: #f1356d;
	border-radius: 8px;
	margin-left: auto;
	
	}

	.navbar .links-3 {
		color: blue;
		background-color: #24A19C;
		border-radius: 8px;
		margin-left: auto;
		
		}